* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

.container {
  display: flex;
  height: 100%;
}

.form-side {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.left {
  background-color: #f0f8ff;
}

.right {
  background-color: #ffe4e1;
}

h2 {
  margin-bottom: 20px;
}

input {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
