<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InSync</title>

    <script
      src="https://kit.fontawesome.com/95293c8b37.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="header">
      <div class="container">
        <nav>
          <img src="static/images/HNBlogo.png" class="logo" />
          <ul id="sidemenu">
            <li><a href="#header">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
          </ul>
          <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
          <p>Welcome to</p>
          <h1>InSync</h1>
          <h1><span class="typing"></span></h1>
        </div>
      </div>
    </div>

    <!-- --------------services--------------->

    <div id="services">
      <div class="container">
        <h1 class="sub-title">New Projects</h1>
        <div class="services-list">
          <div class="service-item" onclick="openForm1()">
            <i class="fa-solid fa-list-check"></i>
            <h2>Past Projects</h2>
          </div>
          <div class="service-item" onclick="openForm2()">
            <i class="fa-solid fa-diagram-project"></i>
            <h2>New Project</h2>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   
    <div class="form-popup" id="myForm1">
      <form action="/action_page.php" class="form-container1">
        <button type="button" class="close-btn" onclick="closeForm1()">&times;</button>
        <h1>Past Projects</h1>
        <ul id="pastProjectsList">
          <li><a href="#header">Digital Torana</a></li>
          <li><a href="#header">Capstone Partners</a></li>
          <li><a href="#header">TCF Bank</a></li>
          <li><a href="#header">City Wide Building Services</a></li>
          <li><a href="#header">FirstMerit Corporation</a></li>
        </ul>
      </form>
    </div>
    
    <div class="form-popup" id="myForm2">
      <form action="/action_page.php" class="form-container">
        <button type="button" class="close-btn" onclick="closeForm2()">&times;</button>
        <input
          type="text"
          placeholder="Enter Project Name"
          name="prjName"
          required
        />
        <a href="{{ url_for('canvas') }}">Create</a>
      </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>